# Environment variables for postgres db
POSTGRES_DB=docker_test
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=12345
DB_CONTAINER_NAME=postgres

# Environment variables for back service
BACK_HOST=0.0.0.0
BACK_PORT=8000

# Environment variables for scraper service
SCRAPER_HOST=0.0.0.0
SCRAPER_PORT=8000
SCRAPER_URL=http://scraper:8000/scrape

# Environment variables for db_service
DB_IMG_HOST=0.0.0.0
DB_IMG_PORT=8000
DB_IMG_INSERT_URL=http://db_service:8000/insert_scrapped_imgs
TEST_URL=http://db_service:8000/get_img
DELETE_URL=http://db_service:8000/clear

# Directory for saving image files
SAVE_IMG_DIR=/app/saved_imgs/

# Main url of site
MAIN_URL = "https://world.maxmara.com"

# Inner parameter for scrapping algorithm
END_RANGE_SCRAPER = 5
